.buttonClassGrey {
  text-decoration: none;
  font-size: 2.813em;
  font-family: Tahoma, Verdana, sans-serif;
  width: 8.75em;
  height: 3.125em;
  border-width: 0.063em;
  color: rgba(24, 23, 23, 1);
  border-color: #000000;
  font-weight: bold;
  padding: .05em;
  box-shadow: inset 0 0.063em 0 -3.125em #ffffff;
  text-shadow: inset 0 0.063em 0 #ffffff;
  background: linear-gradient(rgba(167, 165, 165, 1), rgb(255, 255, 255));
}

.buttonClassGrey:hover {
  background: linear-gradient(rgba(245, 245, 245, 1), rgba(167, 165, 165, 1));
}


body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(173, 164, 164, 0.801);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: grey;
  z-index: 1;
}

#container1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home {
  margin: 1em;
}

#about {
  margin: 1em;
}

.title {
  font-size: 5em;
}

#github {
  margin: 1em;
}

#resume {
  margin: 1em;
}

main {
  position: relative;
  top: 6em;
}

#container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  position: relative;
  top: 1em;
}

#transferFilesButton {
  font-size: 1.75em;
}

#transferFilesText {
  font-size: 2em;
}

#container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  position: relative;
  top: 2em;
}

#printFilesButton {
  font-size: 1.75em;
}

#printFilesText {
  font-size: 2em;
}

#projectsButton {
  position: relative;
  top: 2.5em;
  text-align: center;
  font-size: 1.75em;
}

#container4 {
  display: flex;
  justify-content: center;
  gap: 1em;
  position: relative;
  top: 5em;
}

footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: grey;
  text-align: center;
}


@media (max-width: 1235px){
  .buttonClassGrey{
    font-size: 1.5em;
  }
  .title{
    font-size: 3em;
  }
  body{
    width: 80%;
  }
  
  #transferFilesText {
    font-size: 1.5em;
  }
  #printFilesText {
    font-size: 1.5em;
  }
  #serverPicture img{
    width: 100px;
  }
  #printerPicture img{
    width: 150px;
  }
  #container4 img{
   width: 100%;
  }
}

@media (max-width: 600px){
  .buttonClassGrey{
    font-size: 1em;
  }
  body{
    width: 95%;
  }
  .title{
    font-size: 1.5em;
  }
  #transferFilesText {
    font-size: 1em;
  }
  #printFilesText {
    font-size: 1em;
  }
  #serverPicture img{
    width: 80px;
  }
  #printerPicture img{
    width: 100px;
  }

  @media (max-width: 829px){
    .buttonClassGrey{
      font-size: 1em;
    }
    main{
      top: 2em;
    }
    #home {
      margin: .2em;
    }
    #about {
      margin: .2em;
    }
    .title {
      font-size: 1em;
    }
    #github {
      margin: .2em;
    }
    #resume {
      margin: .2em;
    }
    #container2{
      flex-direction: column;
    }
    #transferFilesText {
      font-size: 1em;
    }
    #serverPicture img{
      width: 80px;
    }
    #container3{
      flex-direction: column;
    }
    #printFilesText {
      font-size: 1em;
    }
    #printerPicture img{
      width: 100px;
    }
    #container4{
      flex-flow: column wrap;
    }
  }
}



#username{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
#usernameLabel{
position: relative;
top: 3.4em;
font-size: 2em;
}
#usernameInput{
  position: relative;
  top: 7em;
}
#password{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
#passwordLabel{
  position: relative;
  top: 3.9em;
  font-size: 2em;
}
#passwordInput{
  position: relative;
  top: 8em;
}

#loginButton{
  position: relative;
  top: 18em;
  text-align: center;
}
.loginButton{
  font-size: 4em;
}


#printFileUpload { 
  text-align: center;
  height: 400px;
  border: .1em dashed #080808;
  font-size: 2em;
}

#printFile {
  position: relative;
  top: 2.3em;
  font-size: 2em;
}
#printFileUploadSubmitButton{
  position: relative;
  top: 10.5em;
}
#printFileUploadButton{
  font-size: 2em;
}









#ITFN4800Project{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
#ITFN4800ProjectItem3{
  flex-wrap: wrap;
  width: 14em;
  font-size: 2em;
}

#UniverseFactsWebsite{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  position: relative;
  right: 3.6em;
  top: 2em;
}
#UniverseFactsWebsiteItem3{
  flex-wrap: wrap;
  width: 14em;
  font-size: 2em;
}

#HighLowGame{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  position: relative;
  right: 1.3em;
  top: 4em;
}
#HighLowGameItem3{
  flex-wrap: wrap;
  width: 14em;
  font-size: 2em;
}

#PlatformerGame{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  position: relative;
  left: .8em;
  top: 6em;
}
#PlatformerGameItem3{
  flex-wrap: wrap;
  width: 14em;
  font-size: 2em;
}


#itfn4800Text{
  width: 50%;
  text-align: center;
  margin: auto;
  font-size: 2em;
  border: solid;
  border-color: black;
}

#itfn4800ScrollBoxes{
  display: flex;
  justify-content: center;
  gap: 10em;
  
}
#itfn4800ScrollBox1{
  border: solid;
  border-color: black;
  overflow: auto;
  height: 30em;
  width: 30em;
}
#itfn4800ScrollBox2{
  border: solid;
  border-color: black;
  overflow: auto;
  height: 30em;
  width: 30em;
}
