

.buttonClass {
    text-decoration: none;
    font-size:2.813em;
    font-family:Comic Sans MS;
    width:8.75em;
    height:3.125em;
    border-width:0.063em;
    color:rgba(24, 23, 23, 1);
    border-color:#dcdcdc;
    font-weight:bold;
    border-top-left-radius:0.375em;
    border-top-right-radius:0.375em;
    border-bottom-left-radius:0.375em;
    border-bottom-right-radius:0.375em;
    box-shadow:inset 0 0.063em 0 -3.125em #ffffff;
    text-shadow:inset 0 0.063em 0 #ffffff;
    background:linear-gradient(rgba(167, 165, 165, 1), rgba(245, 245, 245, 1));
  }
  
  .buttonClass:hover {
    background: linear-gradient(rgba(245, 245, 245, 1), rgba(167, 165, 165, 1));
  }
                
  
  .buttonClass:hover {
    background: linear-gradient(#dfdfdf, #ededed);
  }

.buttonClass2 {
    text-decoration: none;
    font-size:1.875em;
    font-family:Arial;
    width:8.75em;
    height:3.125em;
    border-width:0.063em;
    color:#14396a;
    border-color:#3866a3;
    font-weight:bold;
    border-top-left-radius:0.375em;
    border-top-right-radius:0.375em;
    border-bottom-left-radius:0.375em;
    border-bottom-right-radius:0.375em;
    box-shadow:inset 0 0.063em 0 0 #bee2f9;
    text-shadow:inset 0 0.063em 0 #7cacde;
    background:linear-gradient(#63b8ee, #468ccf);
  }
  
  .buttonClass2:hover {
    background: linear-gradient(#468ccf, #63b8ee);
  }
      
  
























                
body{

}



header{
    text-align: center;
    font-size: 5em;
    background-color: grey;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

nav{

}

#home{
    position: fixed;
    top: .5em;
    left: 1em;
    z-index: 1;
}
#about{
    position: fixed;
    top: 3em;
    left: 1em;
    z-index: 1;
}

main{
    position: relative;
    top: 10em;
}

#transferfiles{
  position: relative;
  left: 5em;
  
  
}

#printfiles{
  position: relative;
  left: 5em;
  

}

#projects{

}

img{
    max-width: 15%;
   
}

footer{

}

